/* font family */
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #000;
  overflow-x: hidden;
  background-color: #fff;
}

.borderinset {
  border: inset 3px black;
}

@font-face {
  font-family: SF-Pro-Display;
  src: url(../../src/fonts/SF-Pro-Display-Heavy.otf);
  font-display: swap;
  font-weight: 800;
}

@font-face {
  font-family: SF-Pro-Display;
  src: url(../../src/fonts/SF-Pro-Display-Medium.otf);
  font-display: swap;
  font-weight: 600;
}

.fontsfpro {
  font-family: "SF-Pro-Display";
  font-weight: 800;
}

.fontsfprosemi {
  font-family: "SF-Pro-Display";
  font-weight: 600;
}

.montserrat {
  font-family: montserrat, sans-serif;
}

.poppins {
  font-family: poppins, sans-serif;
}

.bg-prime {
  background: linear-gradient(
    90deg,
    rgba(245, 9, 11, 1) 0%,
    rgba(255, 45, 75, 1) 100%
  );
}

.bg-second {
  background: linear-gradient(
    0deg,
    rgba(245, 9, 11, 1) 0%,
    rgba(255, 45, 75, 1) 100%
  );
}

.bg-third {
  background: linear-gradient(
    0deg,
    rgba(245, 9, 11, 1) 0%,
    rgba(255, 45, 75, 1) 40%
  );
}

.rotateY {
  transform: rotateY(-180deg);
}

/*=============== Animation css ===============*/

.sliderpost .slick-prev:before,
.sliderpost .slick-next:before {
  display: none;
}

#ty1 {
  position: absolute;
  top: 85px;
  left: 19%;
}

#ty3 {
  position: absolute;
  top: 339px;
  left: 20%;
}

div#ty4 {
  position: absolute;
  top: 204px;
  left: 39%;
}

div#ty5 {
  position: absolute;
  left: 59%;
  margin-top: 29%;
}

div#ty6 {
  position: absolute;
  top: 53%;
  left: 59%;
  margin-top: 7%;
}

div#ty2 {
  position: absolute;
  top: 35%;
  left: 0%;
  margin-top: 20%;
}

div#ty7 {
  position: absolute;
  top: 43%;
  right: -5%;
  margin-top: 18%;
}
.newreactslide .slick-slide {
  opacity: 0.3;
}
.newreactslide .slick-current + .slick-slide {
  opacity: unset;
}

.newreactslide .slick-current + .slick-slide svg {
  fill: #d50d12;
  opacity: unset;
  color: #d50d12;
}
.newreactslide .slick-slide svg {
  fill: #707070;
  opacity: unset;
  color: #707070;
}
.newreactslide .slick-slide svg path {
  opacity: 1;
}
.newreactslide .slick-dots li button:before {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0px 0px;
  padding: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  top: -40px;
}

.newreactslide .slick-current + .slick-slide::after {
  position: absolute;
  content: "";
  width: 6.5%;
  height: 100%;
  top: 52px;
  z-index: -1;
  box-shadow: #ff000040 0px 8px 24px;
  background-color: #280d0d6e;
}
.newreactslide .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0px;
  padding: 0;
  cursor: pointer;
}
.newreactslide .slick-prev {
  left: 35px;
  top: 87%;
  width: 51px !important;
  height: 51px !important;
}
.newreactslide .slick-next {
  right: 38px;
  top: 87% !important;
  width: 51px !important;
  height: 51px !important;
}

#newslides video::-webkit-media-controls-panel {
  opacity: 0;
}

#newslides .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center center;
  background: url(/banner/prev1.png) !important;
}
#newslides .swiper-button-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center center;
  background: url(/banner/prev1.png);
}

#newslides .swiper-slide-active {
  transform: translateY(42.8%) translateX(69%) scale(1.8);
  padding-bottom: 53%;
}
#newslides .swiper-slide-prev {
  transform: translateY(42.8%) translateX(-59%) scale(1.8);
  padding-bottom: 53%;
}
#newslides .newtranck .swiper-pagination-bullet-active {
  background: #837d7d !important;
}
#newslides .newtranck .swiper-pagination-bullet-active {
  background: rgb(203 203 203) !important;
}
#newslides .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 63px);
  top: var(--swiper-pagination-top, auto);
  left: 0px;
  width: 100%;
}
#newslides .swiper-slide-active + swiper-slide {
  padding-bottom: 150px;
  transform: translateY(42.8%) translateX(2%) scale(1.7);
  z-index: -1;
  position: relative;
}
#newslides .swiper-slide-active + swiper-slide + swiper-slide {
  padding-bottom: 247px;
  transform: translateY(37.8%) translateX(-65%) scale(1.6);
  z-index: -2;
  position: relative;
}

/*=============== scroll bar css ===============*/

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5090b;
}

/* ================================== */

/* width */
.buzzflick::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.buzzflick::-webkit-scrollbar-track {
  background: #272727;
}

/* Handle */
.buzzflick::-webkit-scrollbar-thumb {
  background: #f5090b;
}

/*=============== service slider ===============*/

.servicesConcept .slick-prev {
  left: -2%;
  top: 108%;
}

.servicesConcept .slick-prev:before {
  content: url(../../public/icons/arrow.png);
  opacity: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: rotate(270deg);
}

.servicesConcept .slick-next:before {
  content: url(../../public/icons/arrow.png);
  opacity: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: rotate(90deg);
}

.servicesConcept .slick-next {
  right: 9%;
  top: 108%;
  bottom: inherit;
}

/*=============== testi slider ===============*/

.testiSlider .slick-slide {
  height: 300px;
}

.testiSlider .slick-prev {
  left: -190px;
  top: 35%;
  z-index: 999;
}

.testiSlider .slick-prev:before {
  content: url(../../public/icons/arrow.png);
  opacity: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: rotate(270deg);
}

.testiSlider .slick-next {
  right: -155px;
  top: 35%;
  z-index: 999;
}

.testiSlider .slick-next:before {
  content: url(../../public/icons/arrow.png);
  opacity: 1;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: rotate(90deg);
}

/*=============== Blogs Slider ===============*/

.blogsSlider .slick-prev {
  left: 0;
  top: inherit;
  bottom: -39px;
}

.blogsSlider .slick-prev:before {
  content: url(../../public/icons/red-arrow-l.png);
  opacity: 1;
}

.blogsSlider .slick-next {
  right: 43px;
  bottom: -39px;
  top: inherit;
}

.blogsSlider .slick-next:before {
  content: url(../../public/icons/red-arrow-r.png);
  opacity: 1;
}

.blogsSlider .slick-dots li {
  color: #000 !important;
  opacity: 1 !important;
}

/*=============== Brands Slider ===============*/

.brandsSlider .slick-prev {
  left: inherit;
  right: 11%;
  top: inherit;
  bottom: -65px;
}

.brandsSlider .slick-prev:before {
  content: url(../../public/icons/arrow-left.png);
}

.brandsSlider .slick-next {
  right: 80px;
  bottom: -65px;
  top: inherit;
}

.brandsSlider .slick-next:before {
  content: url(../../public/icons/arrow-right.png);
}

/*=============== Popup ===============*/

.grid.place-items-center.fixed.w-screen.h-screen.bg-black.bg-opacity-60.backdrop-blur-sm {
  height: 100% !important;
  background: transparent !important;
  position: fixed;
  width: 100% !important;
}

/*=============== Video Explainer Animation ===============*/

.animation {
  animation: animated 1.5s infinite ease-in-out alternate;
}

@keyframes animated {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.testi {
  animation: testi 1.5s infinite ease-in-out alternate;
}

@keyframes testi {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

/*=============== Media Query Start ===============*/

@media only screen and (max-width: 1920px) {
  .blogsSlider .slick-dots {
    position: absolute;
    bottom: -42px;
    display: block;
    width: 9%;
    padding: 0;
    text-align: right;
    z-index: 9999;
    margin-right: auto;
    right: 71px;
    background: transparent;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 1600px) {
  .blogsSlider .slick-dots {
    width: 9%;
  }
}

@media only screen and (max-width: 1440px) {
  .blogsSlider .slick-dots {
    width: 11%;
  }
}

@media only screen and (max-width: 991px) {
  .servicesConcept .slick-next {
    right: 50px;
  }

  .servicesConcept .slick-prev {
    top: 106%;
  }

  .blogsSlider .slick-dots {
    width: 22%;
  }

  .testiSlider .slick-prev {
    left: 140px;
    top: inherit;
    bottom: -90px;
  }

  .testiSlider .slick-next {
    right: 200px;
    top: inherit;
    bottom: -90px;
  }

  .slideBg {
    background-size: 550px;
  }

  .popupBg {
    background-color: #ffcc00;
  }
}

@media only screen and (max-width: 567px) {
  .wantbg {
    background: linear-gradient(
      0deg,
      rgba(245, 9, 11, 1) 0%,
      rgba(255, 45, 75, 1) 40%
    );
  }

  .blogsSlider .slick-next {
    right: 27px;
  }

  .blogsSlider .slick-prev {
    left: 5px;
  }

  .blogsSlider .slick-dots {
    display: none;
  }

  .testiSlider .slick-prev {
    left: -42px;
    top: inherit;
    bottom: -64px;
  }

  .testiSlider .slick-next {
    right: 20px;
    top: inherit;
    bottom: -64px;
  }

  br {
    display: none;
  }

  .testiSlider .slick-prev:before,
  .testiSlider .slick-next:before {
    width: 50px;
    height: 50px;
  }

  .testiSlider .slick-prev {
    left: -28px;
    top: auto;
    bottom: -40%;
  }

  .testiSlider .slick-next {
    right: 0px;
    top: auto;
    bottom: -40%;
  }
}
